[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox
