<?xml version="1.0"?>
<robot name="robot">
  <material name="brown">
    <color rgba="0.45 0.30 0.15 1"/> 
  </material>

  <material name="yellow">
    <color rgba="0.9 0.9 0.05 1"/> 
  </material>

  <material name="white">
    <color rgba="0.95 0.95 0.95 1"/> 
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.125 0.077"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>
<!--
  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.024" radius="0.025"/>
      </geometry>
      <material name="yellow"/>
      <origin rpy="1.57075 0 0" xyz="0 0.012 0"/>
    </visual>
  </link>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.024" radius="0.025"/>
      </geometry>
      <material name="yellow"/>
      <origin rpy="1.57075 0 0" xyz="0 -0.012 0"/>
    </visual>
  </link>

  <link name="back_wheel">
    <visual>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="white"/>
      <origin xyz="0 0 -0.016"/>
    </visual>
  </link>

  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0.015 0.063 -0.05"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0.015 -0.063 -0.05"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="back_wheel_join" type="fixed">
    <parent link="base_link"/>
    <child link="back_wheel"/>
    <origin xyz="-0.08 0 -0.0385"/>
  </joint>
  -->
</robot>